$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.search--main {
  .input-group {
    max-width: 600px;
    margin: 0 auto;
  }
}

.top5 { margin-top:5px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top20 { margin-top:20px; }
.top30 { margin-top:30px; }

img {
  max-width: 100%;
}

.slide__controller {
  font-size: 4em;
  line-height: 518px;
}

.author {
  text-align: center;

  .glyphicon {
    font-size: 4em;
  }
}

.vote {
  text-align: center;

  .glyphicon {
    font-size: 2em;
  }
}

.border-bottom {
  border-bottom: 1px solid $gray-light;
}
